<div class="contents row">
  <h3 class="username"><%= @nickname %>さんの投稿一覧</h3>
  <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: { post: post} %>
  <% end %>
  <%= paginate(@posts) %>
</div>