<div class="contents row">
  <div class="success">
    <h3 class="newcreate">
      新しい投稿を送信しました
    </h3>
    <div class="btn-bottom">
    <a class="btn" href="/posts">みんなの投稿へ戻る</a>
    </div>
  </div>
</div>