// * {
//   outline: 1px solid #ff0000;
// }


$gold: #ffd700;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$orange: #FF9966;
$kuro: #003300;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


header {
  background-color: $black;
}

html {
   background-image: url("game.jpg");
  background-repeat:repeat;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}

body {
  padding-top: 30px;
  font-family: 'Patua One', cursive;
 
}

h1, {
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
  margin: 0;
  font-family: 'Anton', sans-serif;
  
}

h2 {
  padding-top:20px;
  text-align:center;
}

h3 {
  font-size:20px;
  color:black;
  padding-top:0px;
  text-align:center;
}

h4 {
  margin-left: 2px;
  font-family:sans-serif;
}

.grid-6{
  float: left;
}

.nickname {
  color:white;
  padding:0;
}

a {
  text-decoration: none;
  color: $orange;
  &:hover {
    color: $gold;
  }
}

ul li {
  list-style: none;
}

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.btn {
    padding: 5px;
    font-size: 15px;
    border: 2px solid $orange;
    color: $orange;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    
  &:hover {
    color: $gold;
  }
}

.btn-bottom {
  padding-bottom:20px;
}


header {
  padding: 15px;
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  div.header__bar.row {
    position: relative;
    h1.grid-6 {
      font-size: 25px;
    }
    div.grid-6 {
      float: right;
      text-align: right;
      a.post {
        @extend .btn;
        width: 110px;
        margin-left: 10px;
      }
    }
  }
  .user_nav {
    position: absolute;
    right: 0;
    span {
      top: 6px;
      float: left;
      width: 125px;
      height: 40px;
      font-size: 17px;
      position: relative;
      &:after {
        content: '▼';
      }
      &:hover ul {
        color: $orange;
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 27px;
      right: 0;
      li {
        background-color: white;
        }
        a {
          display: block;
          padding: 8px 18px;
          text-align: center;
          border-bottom: $gray 1px solid ;
          &:hover {
              background-color: $orange;
              color: #fff;
        }
      }
    }
  }
}

.tag {
  -webkit-filter: drop-shadow(0 0 3px $gray);
}

.user__info {
    background-color:$gray;
   
  }
 


.contents.row {
  margin-top:20px;
  padding-top:30px;
  background-color: rgba( 255, 255, 255, 0.55 );
 
  　.container {
    padding-top:10px;
   
}
  
  .username {
padding:10px auto;
  }

.content_post {
    padding:10px;
    bottom:10px;
    margin: 25px;
    position: relative;
    height: 400px;
    color: $white;
    background-color:$white;
    .more {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 25px;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        position: absolute;
        text-align: center;
        width: 50px;
        right: 0;
        font-size: 14px;
        background-color: $white;
        display: none;
        li {
          border-bottom: 1px solid $gray;
          a {
            display: block;
            padding: 5px;
            &:hover {
              background-color: $orange;
              color: #fff;
            }
          }
        }
      }
    }
  }
    
  

    p {
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 0 0 2px $black;
    }
      
   
    span.name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 20px;
      text-shadow: 0 0 2px $black;
      a {
        display: block;
        color: $white;
        text-shadow: 0 0 2px $black;
        &:hover {
          color: $gray;
        }
      }
     
    }
  }
  
  .text {
    padding-top:335px;
    padding-left:20px;
    padding-right:60px;
  }
  
  form {
    margin: 30px;
    padding: 10px;
    box-sizing: border-box;
    
    input,textarea {
      width: 100%;
      margin: 10px auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba($black,0.2);
    }
     
    input[type="submit"] {
    
      background-color: $orange;
      border-radius: 30px;
      color: $white;
      border: 0;
      font-size: 20px;
      &:hover {
        background-color: $gold;
      }
    }
  }
  


.success {
    padding-top:30px;
    text-align: center;
}

footer {
 color: $orange;
  background-color:$black;
  width:100%;
  position: fixed;
  bottom: 0;
  margin-top: 0;
  
  p {
    text-align: center;
  }
}

strong {
  text-shadow: initial;
  display: inline-block;
  
}

.comment-name {
  color:$black;
  padding-left:10px;
  font-size:17px;
   &:hover {
    color: #CC6600	;
  }
  
  
}

.comment-text {
  font-size:17px;
  margin-left:25px;
  
   
}



